.input {
   color: #6363DB;
   font-size: 3rem;
   font-weight: 700;
   width: 5.4rem;
   height: 5.4rem;
   background-color: #EBEBFC;
   border: 2px solid #6363DB;
   border-radius: 1rem;
   padding: 1rem;
   text-transform: uppercase;
   text-align: center;
   outline: none;
}