.container {
   width: 5.4rem;
   height: 5.4rem;
   color: #4F4FB9;
   background-color: #EBEBFC;
   border-radius: 1rem;
   text-transform: uppercase;
   font-size: 3.2rem;
   font-weight: 700;
   display: flex;
   justify-content: center;
   align-items: center;
}

.small {
   width: 4.4rem;
   height: 4.4rem;
   border-radius: 0.7rem;
   border: 1px solid #049847;
}

.correct {
   color: #03AB4F;
   background: #E1F5EC;
}

.wrong {
   color: #b00808;
   border: 1px solid #8b0707;
   background: #fed1c7;
}

@media (max-width: 768px) {
   .container {
      width: 3rem;
      height: 3rem;
      font-size: 2rem;
   }
}