:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #8080fa;
  font-family: "Noto Sans", serif;
  display: grid;
  height: 100vh;
  place-content: center;
}

input, button {
  font-family: "Noto Sans", serif;
}

button {
  transition: filter 0.5s;
}

button:hover {
  filter: brightness(0.8);
}